<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- google fonts -->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Tangerine">

    <title>SIGN TO TEXT CONVERTOR!</title>
</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">SIGN TO TEXT CONVERTOR</a>
        <form class="form-inline">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
            <button class="btn btn-outline-dark my-2 my-sm-0" type="button">ABOUT</button>
        </form>
    </nav>

    <!-- DROPDOWNS -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                      <option selected>CONVERT FROM</option>
                      <option value="1">SIGN LANGUAGE</option>
                      <option value="2">TEXT LANGUAGE</option>
                    </select>
                    <!-- <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div> -->
                  </div>
            </div>

            <div>
                <i class="bi bi-arrow-left-right"></i>
            </div>

            <div class="col-sm-3">
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                      <option selected>CONVERT TO</option>
                      <option value="1">SIGN LANGUAGE</option>
                      <option value="2">TEXT LANGUAGE</option>
                    </select>
                    <!-- <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div> -->
                  </div>
            </div> 
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                      <option selected>LANGUAGE FOR TEXT</option>
                      <option value="1">HINDI</option>
                      <option value="2">ENGLISH</option>
                      <option value="3">SPANISH</option>
                      <option value="4">CHINESE</option>
                      <option value="5">FRENCH</option>
                      <option value="6">GERMAN</option>
                    </select>
                    <!-- <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div> -->
                  </div>
            </div>
            </div>
            </div>

    <!-- CONVERTOR BOXES -->

    <div class="container mx-auto my-5">
        <div class="row">
            <div class="col-sm-5">
                <div class="border border-dark py-5 px-3">
                    YOUR CAMERA CONTENT
                </div>
            </div>

            <div class="col-sm-2">
                <div class="text-center mt-2">
                    <i class="bi bi-arrow-left-right my-2"></i>
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-outline-dark">TRANSLATE</button>
                </div>
                <div class="text-center mt-2">
                    <button type="reset" class="btn btn-outline-dark">RESET</button>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="border border-dark py-5 px-3">
                    YOUR CONVERTED TEXT WILL APPEAR HERE!
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>